!-- xterm settings -------------------------------------------------------------

XTerm*renderFont: true
XTerm*faceName: Hack
XTerm*faceSize: 22

!-- svkbd settings -------------------------------------------------------------

#define black1 #000000
#define gray1  #505050
#define gray2  #d0d0d0
#define gray3  #e0e0e0
#define white1 #ffffff

#define font1 Inter:style=Regular

svkbd.font: font1:size=16

! Outer keys
svkbd.foreground: black1
svkbd.background: gray3

svkbd.shiftforeground: gray1
svkbd.shiftbackground: gray3

! Alphabetic keys
svkbd.ABCforeground: black1
svkbd.ABCbackground: gray3

svkbd.ABCshiftforeground: gray1
svkbd.ABCshiftbackground: gray3

! Pressed keys
svkbd.pressforeground: white1
svkbd.pressbackground: black1

svkbd.pressshiftforeground: white1
svkbd.pressshiftbackground: black1

! Highlighted keys
! On e-ink, it is preferrable to disable highlighting
svkbd.highlightforeground: black1
svkbd.highlightbackground: gray3

svkbd.highlightshiftforeground: black1
svkbd.highlightshiftbackground: gray3

svkbd.overlayforeground: black1
svkbd.overlaybackground: gray3

svkbd.overlayshiftforeground: black1
svkbd.overlayshiftbackground: gray3

svkbd.windowforeground: black1
svkbd.windowbackground: gray1
